.home {
  display: flex;
}

.home-left {
  width: 250px;
}

.home-right {
  width: calc(100% - 290px);

  flex-wrap: wrap;
  margin: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 770px) {
  .home-left {
    width: 80px;
  }
  .home-right {
    width: calc(100% - 100px);
  }
}
